<h2>Ev's Repositories</h2>

<div style="text-align: center; display: inline">
  <h3>Language tags</h3>
  <button>
    Rust
  </button>
  <button>
    Java
  </button>
  <button>
    Python
  </button>
  <button>
    Css
  </button>
  <button>
    Html
  </button>
  <button>
    C++
  </button>
  <button>
    C
  </button>
  <button>
    C#
  </button>
  <button>
    Ev
  </button>
  <button>
    Markdown
  </button>
</div>

<hr style="border-color: gray">

<div *ngFor="let bro of brother" style="text-align: center; display: inline">
  <button style="height: 80px; width: 29%; font-size: 15px; border: 2px solid #7289da">
    {{bro.name}}
  </button>
</div>
