<nav>
  <h2>Ev's Repositories</h2>
</nav>
<h3>Search</h3>
<div style="display: flex; text-align: center">
  <input type="text" #searchName>
  <button (click)="goLang(searchName.value)">Search</button>
</div>

<h3>Language tags</h3>
<div style="text-align: center; display: inline"
     *ngFor="let a of ['Rust', 'Java', 'Python', 'CSS', 'HTML', 'CPP', 'C', 'CSHARP', 'Ev', 'Markdown']">

  <button (click)="toggleTag(parseTag(a))">{{a == "CSHARP" ? "C#" : a == "CPP" ? "C++" : a}}</button>

</div>
<h3 *ngIf="tags.length > 0">Current filters:
  <p style="display: inline; text-align: center" *ngFor="let b of tags">
    {{b + (tags.indexOf(b) != tags.length - 1 ? "," : "").toString()}}
  </p> </h3>

<hr style="border-color: gray; width: 90%; margin-left: -1%">

<div *ngIf="brother.length > 0">
  <div *ngFor="let bro of brother" style="text-align: center; display: inline">
    <button routerLink="repo/{{bro.name}}" *ngIf="tags.length == 0" style="height: 80px; width: 230px; font-size: 15px; border: 2px solid #7289da">
      {{bro.name}}
    </button>
    <button routerLink="repo/{{bro.name}}" *ngIf="tags.length > 0 && tags.includes(parseTag(bro.language))" style="height: 80px; width: 230px; font-size: 15px; border: 2px solid #7289da">
      {{bro.name}}
    </button>
  </div>
</div>

<div *ngIf="brother.length == 0" style="font-size: large; text-align: center">
  <img style="width: 80px; margin-left: -13%; padding-top: 30px" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Grey_close_x.svg/240px-Grey_close_x.svg.png">
  <p style="color: #aaaaab; margin-left: -13%">Could not find anything! Make sure to capitalize and include hyphens. <br>This may be a server issue, check that the server is running.</p>
</div>
